<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domains</title>
    <style>
        button{
            background-color: lightgreen;
            border: 1px solid white;
            border-radius: 15px;
            height: 2rem;
            width: auto;
        }
        button:hover{
            background-color: green;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
    <div class="btn">
        <form action="/domain/webdevelopment">
            <button type="submit">Web Development</button>
        </form>
        <form action="/domain/androiddevelopment">
            <button type="submit">Android Development</button>
        </form>
        <form action="/domain/java">
            <button type="submit">Java</button>
        </form>
        <form action="/domain/uiux">
            <button type="submit">UI/UX</button>
        </form>
        <form action="/domain/graphicdesign">
            <button type="submit">Graphic Designing</button>
        </form>
        <form action="/domain/internetofthings">
            <button type="submit">IOT</button>
        </form>

    </div>


</body>
</html>